{{ define "main" }}

{{ $bld := .Site.Data.blood.bld_cen }}

<div class="works-grouped">

  <h2 class="category-header">
    {{ $bld.title }}
  </h2>

  {{ range $bld.direction }}


  <h2>
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
    {{ with .note }}
      <small>({{ . }})</small>
    {{ end }}
  </h2>

  {{ if .address }}
    <small>
      {{ if .geo }}
        <a href="{{ .geo }}" target="_blank">Address</a>:
      {{ else }}
        Address:
      {{ end }}
      {{ .address }}
    </small>
    <br/>
  {{ end }}

  {{ with .phone }}
    <small>Telephone: {{ . }}</small>
  {{ end }}

  <div class="spacer"></div>

  {{ end }}

</div>


{{ $bundle := .Site.GetPage "blood-records" }}
{{ $images := $bundle.Resources.ByType "image" }}


{{ $withExif := where $images "Exif.Date" "!=" nil }}
{{ $withoutExif := where $images "Exif.Date" "==" nil }}

{{ $datesorted := sort $withExif "Exif.Date" "desc" }}
{{ $namesorted := sort $withoutExif "Name" "asc" }}

<h2 class="category-header">
Gallery
</h2>

<div class="image-grid">

  {{ range $datesorted }}
    {{ $thumb := .Fill "400x400 center" }}
    <a href="{{ .RelPermalink }}"
       title="{{ with .Exif }}{{ .Date }}{{ else }}{{ .Name }}{{ end }}">
      <img
        src="{{ $thumb.RelPermalink }}"
        alt="{{ .Name }}"
        loading="lazy">
    </a>
  {{ end }}

  {{ range $namesorted }}
    {{ $thumb := .Fill "400x400 center" }}
    <a href="{{ .RelPermalink }}" title="{{ .Name }}">
      <img
        src="{{ $thumb.RelPermalink }}"
        alt="{{ .Name }}"
        loading="lazy">
    </a>
  {{ end }}

</div>

{{ end }}
