{{ define "main" }}
<br/>
{{ .Content }}

{{/* Filter out private posts first, then group by Year */}}
{{ $publicPages := where .Pages ".Params.private" "!=" true }}
{{ range $publicPages.GroupByPublishDate "2006" }}
    <h2 class="category-header">{{ .Key }}</h2>
    
    <div class="posts-list">
        {{ range .Pages }}
            <div class="post">
                <p>
                    {{/* Month and Day only */}}
                    <div class="date">{{ .PublishDate.Format "Jan. 02" }}</div>    
                    <h2>
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                    </h2>
                    
                    {{ with .Params.company }}
                        <small class="post-company">{{ . }}</small><br/>
                    {{ end }}

                    {{/* Plainify strips all HTML/Links from the summary */}}
                    {{ .Summary | plainify }}
                </p>
            </div>
        {{ end }}
    </div>
{{ end }}

{{ end }}