{{ $data := .Site.Data.playlists }}

<div class="terminal-window panel">
    <div class="window-header">
      <div class="window-controls">
        <span class="control close"></span>
        <span class="control minimize"></span>
        <span class="control maximize"></span>
      </div>
      <div class="window-title">analytics.sh</div>
    </div>
  
    <div class="window-content">

      <div class="panel-terminal"><a href="https://stats.htunteza.com">$ goatcounter --privacy</a></div>

      <div class="privacy-info">

        [✓] privacy-focused analytics <br>
        [✓] no advertising cookies <br>
        [✓] no cross-site tracking <br>
        [✓] no personal profiling <br>

        docs →
        <a href="https://www.goatcounter.com/help/privacy">[Privacy]</a> 
        <a href="https://www.goatcounter.com/help/gdpr">[GDPR]</a>

      </div>

  
    </div>
  </div>