{{ $data := .Site.Data.playlists }}

<div class="terminal-window panel">

  <div class="window-header">
    <div class="window-controls">
      <span class="control close"></span>
      <span class="control minimize"></span>
      <span class="control maximize"></span>
    </div>
    <div class="window-title">playlists.sh</div>
  </div>

  <div class="window-content">

    <pre class="panel-terminal"><a href="https://www.last.fm/user/fibrili/playlists">$ lastfm --annual-top-tracks</a></pre>

    <div class="album-strip">

      {{ range first 6 (sort $data.items "year" "desc") }}
      <a href="{{ .url }}" target="_blank" rel="noreferrer noopener">
        <img
          src="{{ (printf "general/%s" .image) | relURL }}"
          title="{{ .title }}"
          alt="{{ .title }}"
          loading="lazy"
          decoding="async"
        />
      </a>
      {{ end }}

    </div>

  </div>
</div>