{{ $data := .Site.Data.playlists }}

<div class="terminal-window panel">
    <div class="window-header">
      <div class="window-controls">
        <span class="control close"></span>
        <span class="control minimize"></span>
        <span class="control maximize"></span>
      </div>
      <div class="window-title">music.sh</div>
    </div>
  
    <div class="window-content">

      <pre class="panel-terminal"><a href="https://www.last.fm/user/fibrili/playlists">$ lastfm --tracks --by=365d</a></pre>

      <div class="album-strip">

      {{ range first 10 (sort $data.items "year" "desc") }}
      <a href="{{ .url }}" target="_blank" rel="noreferrer noopener">
        <img
          src="{{ (printf "general/%s" .image) | relURL }}"
          title="{{ .title }}"
          alt="{{ .title }}"
          loading="lazy"
          decoding="async"
        />
      </a>
      {{ end }} 
      </div>

      <pre class="panel-terminal" style="margin-top:20px"><a href="https://www.last.fm/user/fibrili/library/albums?date_preset=LAST_30_DAYS">$ lastfm --albums --limit=30d</a></pre>

      <div id="topalbums" class="album-strip"></div>
  
    </div>
  </div>