<div class="terminal-window panel">

  <div class="window-header">
    <div class="window-controls">
      <span class="control close"></span>
      <span class="control minimize"></span>
      <span class="control maximize"></span>
    </div>
    <div class="window-title">screen.sh</div>
  </div>

  <div class="window-content">

    <pre class="panel-terminal"><a href="https://trakt.tv/users/hteza">$ trakt --recent</a></pre>

    <div id="last-watched" class="album-strip"></div>

  </div>

</div>