<div class="terminal-window panel">

  <div class="window-header">
    <div class="window-controls" aria-hidden="true">
      <span class="control close"></span>
      <span class="control minimize"></span>
      <span class="control maximize"></span>
    </div>
    <div class="window-title">manga.sh</div>
  </div>

  <div class="window-content">

    <pre class="panel-terminal"><a  href="https://anilist.co/user/finer/mangalist">$ anilist list --status=recent</a></pre>

    <div id="last-read-manga" class="album-strip" aria-live="polite"></div>

  </div>

</div>