<div class="terminal-window panel" role="region" aria-label="Screen">

  <div class="window-header">
    <div class="window-controls" aria-hidden="true">
      <span class="control close"></span>
      <span class="control minimize"></span>
      <span class="control maximize"></span>
    </div>
    <div class="window-title">screen.sh</div>
  </div>

  <div class="window-content">

    <pre class="panel-terminal"><a href="https://trakt.tv/users/hteza">$ trakt list --status=recent</a></pre>

    <div id="last-watched" class="album-strip" aria-live="polite"></div>

  </div>

</div>