<div class="terminal-window panel">
    <div class="window-header">
      <div class="window-controls">
        <span class="control close"></span>
        <span class="control minimize"></span>
        <span class="control maximize"></span>
      </div>
      <div class="window-title">albums.sh</div>
    </div>
  
    <div class="window-content">
        <pre class="panel-terminal">$ lastfm --top-albums --period=30d</pre>

      <div id="topalbums" class="album-strip"></div>
  
    </div>
  </div>