{{ $data := .Site.Data.homepage.sidebar }}
{{ $edu := .Site.Data.homepage.education }}

<div class="profile-header">
    {{ with $data.avatar }}
    <div class="avatar-wrapper" role="button" tabindex="0" aria-label="Profile photo">
      <img src="{{ $data.avatar }}" alt="" class="sidebar-avatar" id="avatar">
    </div>
    {{ end }}
    <h2 id="author-name">
      <a href="{{ "/about" | relURL }}">{{ $data.name }}</a>
    </h2>
    <small id="job-title">{{ $data.job_title }}</small>
</div>

<ul class="sidebar-links">

    {{ with $data.email }}
    <li><span class="sidebar-label">[mail]</span><a href="mailto:{{ . }}">{{ . }}</a></li>
    {{ end }}

    {{ with $data.phone }}
    <li><span class="sidebar-label">[tel]</span><a href="tel:{{ . }}">{{ . }}</a></li>
    {{ end }}

    {{ if and $data.area $data.location }}
    <li><span class="sidebar-label">[time]</span><a href="https://time.is/{{ $data.location }}" target="_blank" id="timezone" title="{{ title $data.area }}/{{ title $data.location }}">{{ title $data.area }}/{{ title $data.location }}</a></li>
    {{ end }}

    {{ with $data.website }}
    <li><span class="sidebar-label">[web]</span><a href="https://{{ . }}" target="_blank">{{ $data.websitename | default . }}</a></li>
    {{ end }}

    {{ with $data.orcid }}
    <li><span class="sidebar-label">[author]</span><a href="https://orcid.org/{{ . }}" target="_blank">orcid</a></li>
    {{ end }}

    {{ with $data.cv }}
    <li><span class="sidebar-label">[cv]</span><a href="{{ . | relURL }}" target="_blank">{{ path.Base . }}</a></li>
    {{ end }}

    {{ with $data.vcard }}
    <li><span class="sidebar-label">[vcard]</span><a href="{{ . | relURL }}">{{ path.Base . }}</a></li>
    {{ end }}
</ul>

<div style = "border-bottom: 1px dashed var(--secondary-color);"></div>

{{ with $edu }}
{{ range .info }}
<div class="spacer"></div>
<div class="education-title">
  <a href="{{ .diploma | relURL }}">{{ .degree }}</a>
</div>

<div class="education-university">
  <a href="{{ .university.link }}">
    <span class="uni-name">{{ .university.name }}</span>
    <span class="uni-country">{{ .university.country }}</span>
  </a>
</div>

<span class="education-time">{{ .time }}</span>

{{ end }}
{{ end }}