{{- $num := .Get "num" -}}
{{- $src := .Get "src" -}}
{{- $img := .Page.Resources.GetMatch $src -}}
<figure id="figure-{{ $num }}" aria-labelledby="figure-{{ $num }}-caption" class="post-figure">
  {{- with $img }}
  {{- $webp := .Process "webp" }}
  <picture>
    <source type="image/webp" srcset="{{ $webp.RelPermalink }}">
    <img src="{{ .RelPermalink }}"
         alt=""
         class="img-responsive"
         loading="lazy"
         width="{{ .Width }}"
         height="{{ .Height }}">
  </picture>
  {{- end }}
  <figcaption id="figure-{{ $num }}-caption">
    <span class="figure-label">Figure {{ $num }}.</span>
    {{ .Inner | markdownify }}
  </figcaption>
</figure>
