<div class="image-grid">
    {{ $match := .Get "match" | default "*" }}
    {{ range .Page.Resources.Match $match }}
        {{/* Define our threshold */}}
        {{ $targetWidth := 2000 }}
        {{ $src := "" }}

        {{ if gt .Width $targetWidth }}
            {{/* Only resize if it's wider than 2000px */}}
            {{ $thumb := .Resize (printf "%dx" $targetWidth) }}
            {{ $src = $thumb.RelPermalink }}
        {{ else }}
            {{/* Use original if it's already small/sharp */}}
            {{ $src = .RelPermalink }}
        {{ end }}

        <a href="{{ .RelPermalink }}" target="_blank" rel="noreferrer noopener">
             <img src="{{ $src }}"
                  class="img-responsive"
                  decoding="async"
                  alt="{{ .Name }}">
        </a>
    {{ end }}
</div>